<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
    bootstrap=".tools/bootstrap.php"
    beStrictAboutCoversAnnotation="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    failOnWarning="true"
    failOnRisky="true"
    verbose="true"
    colors="true"
    stderr="true"
    defaultTestSuite="yorm">
    <php>
        <ini name="error_reporting" value="E_ALL"/>
        <ini name="display_errors" value="1"/>
    </php>
    <testsuites>
        <testsuite name="yorm">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
