.yform-select-style {
    overflow: hidden;
    width: 100%;
    margin-bottom: 6px;
    background: #fff url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 98% 50%;
    border: 1px solid #c1c9d4;
}
.yform-select-style select {
    width: 100%;
    padding: 6px 12px;
    background: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance:none;
    -webkit-border-radius: 0px;
}
.yform-select-style select:focus {
    outline: none;
    background-color: transparent;
}
.yform-select-style select:hover {
    cursor: pointer;
}

.yform-table-help td {
    -ms-word-break: break-all;
         word-break: break-all;
}

.form-captcha .input-group-addon {
    padding: 0;
}

.form-captcha .input-group-addon > img {
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.be-value-input .form-group {
    margin: 0;
}
.be-value-input label {
    display: none;
}